.page {
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
	height: 100%;

	@media print {
		display: block;
		height: auto;
	}

	&__top {
		width: 100%;

		@media print {
			width: auto;
		}
	}

	&__bottom {
		width: 100%;

		@media print {
			width: auto;
		}
	}
}