@import "../../sass/base/variables";

.back-to-top {
	position: fixed;
	z-index: 990;
	right: 10px;
	bottom: 10px;
	width: 4.2rem;
	height: 4.2rem;
	font-size: 0;
	background-color: gray;
	transition: 0.2s;
	visibility: hidden;
	opacity: 0;

	body:not(.mobile) &:hover {
		background-color: darken(gray, 8%);
	}

	body:not(.mobile) &:active {
		background-color: darken(gray, 14%);
	}

	&.visible {
		visibility: visible;
		opacity: 1;

		@media print {
			display: none;
		}
	}

	&::before {
		content: "";
		position: absolute;
		z-index: 1;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 1.4rem;
		height: 1.4rem;
		background: url("images/svg/arrow-top-white.svg") no-repeat center center;
		background-size: contain;
	}
}