@import "variables";

html,
body {
	min-width: 320px;
	height: 100%;
}

html {
	font-size: 62.5%;

	@media only screen and (max-width: $media-width-xl) {
		font-size: 57.5%;
	}

	@media only screen and (max-width: $media-width-s) {
		font-size: 52.5%;
	}
}

body {
	color: #000;
	font-weight: normal;
	font-style: normal;
	font-size: 1.4rem;
	line-height: 1.25;
	font-family: $tf-1;
	background-color: #fff;

	&.mobile {
		cursor: pointer;
		-webkit-tap-highlight-color: transparent;
	}
}

a {
	color: #000;

	body:not(.mobile) &:hover {
		text-decoration: none;
	}
}



/************/



::-webkit-input-placeholder { color: #000; opacity: 1; }
::-moz-placeholder          { color: #000; opacity: 1; }
:-moz-placeholder           { color: #000; opacity: 1; }
:-ms-input-placeholder      { color: #000; opacity: 1; }
:placeholder-shown          { color: #000; opacity: 1; }



/************/



html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}



/************/



input[type="text"],
input[type="tel"],
input[type="email"],
input[type="search"],
textarea {
	-webkit-appearance: none;

	&::-ms-clear {
		display: none;
	}
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
}

input[type="number"] {
	-moz-appearance: textfield;
}



/************/



.container {
	max-width: 1190px;
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
}