include ../mixins/head

doctype html
<!-- ****** Website Developer — Dmitry Kirillov. Also known as Bonauze ****** -->
html(dir="ltr" lang="ru" class="no-js")
	+head("Главная страница", "Описание страницы")

	body
		include ../templates/after-begin-body

		.page
			.page__top

			.page__bottom






		include ../templates/pop-up-callback

		include ../templates/before-end-body