mixin head(title, descriptionContent)
	head
		meta(charset="UTF-8")

		<!-- Please, switch IE to the last mode -->
		<!--[if IE]>
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		<![endif]-->

		<!-- Zooming on different devices -->
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1")

		<!-- CSS -->
		link(rel="stylesheet" href="bundle/bundle.css?" + Math.floor(Math.random() * 100000))

		<!-- JS -->
		script(src="bundle/bundle.js?" + Math.floor(Math.random() * 100000) defer)

		<!-- Fonts -->

		title=title

		meta(name="description" content=descriptionContent)